**/*checkpoint.ipynb
**/*.pqt
**/.ipynb_checkpoints/*
bwm/data/*
coverage/data/*
test/*
bwm/yanliang_peth/PETH_area_label.npy
bwm/yanliang_peth/PETH_feedback.npy
bwm/yanliang_peth/PETH_move.npy
bwm/yanliang_peth/PETH_ses_id.npy
bwm/yanliang_peth/PETH_stim.npy
repro_ephys/bwm_all_traj_discrep.csv
heer/data.hdf5
.DS_Store
gallery/.DS_Store
*.idlk
ephys_atlas/encoding_model_ephys_atlas.npy
noam_probe_tracking/electrode_tracks/2023-03-07_NR_0028_001_probe00_pts.csv
noam_probe_tracking/electrode_tracks/2023-03-07_NR_0028_001_probe01_pts.csv
noam_probe_tracking/electrode_tracks/2023-03-10_NR_0028_001_probe00_pts.csv
noam_probe_tracking/electrode_tracks/2023-03-14_NR_0028_001_probe00_pts.csv
noam_probe_tracking/electrode_tracks/2023-03-15_NR_0028_003_probe00_pts.csv
noam_probe_tracking/electrode_tracks/2023-03-15_NR_0028_003_probe01_pts.csv
noam_probe_tracking/electrode_tracks/2023-03-20_NR_0028_001_probe00_pts.csv
ephys_atlas/tables/latest/df_save_goodunit_ins_region.csv
ephys_atlas/tables/df_save_goodunit_ins_region.csv
