**/*checkpoint.ipynb
**/*.pqt
**/.ipynb_checkpoints/*
bwm/data/*
coverage/data/*
test/*
bwm/yanliang_peth/PETH_area_label.npy
bwm/yanliang_peth/PETH_feedback.npy
bwm/yanliang_peth/PETH_move.npy
bwm/yanliang_peth/PETH_ses_id.npy
bwm/yanliang_peth/PETH_stim.npy
repro_ephys/bwm_all_traj_discrep.csv
heer/data.hdf5
.DS_Store
gallery/.DS_Store
